/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #fff;
  --vt-c-white-soft: #fafaff;
  --vt-c-white-mute: #f2f2f2e1;

  --vt-c-black: #00000090;
  --vt-c-black-soft: #0a0a0a;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: rgb(120, 120, 120);

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(170, 170, 170);
  --vt-c-text-light-3: rgba(180, 180, 180);
  --vt-c-text-dark-0: var(--vt-c-white);
  --vt-c-text-dark-1: var(--vt-c-white-mute);
  --vt-c-text-dark-2: rgb(90, 90, 90);
  --vt-c-text-dark-3: rgb(90, 90, 90);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);
  --color-subtext: var(--vt-c-text-light-2);

  --section-gap: 160px;
}



*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: var(--vt-c-text-light-1);
  background: var(--vt-c-white-soft);
  transition: color 0.5s, background-color 0.5s;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
}

body p {
  font-size: 1rem;
  color: var(--vt-c-text-light-2);
}

body h4 {
  font-size: 1rem;
  color: var(--vt-c-text-light-3);
}

body h5 {
  font-size: 1rem;
  color: var(--vt-c-text-light-2);
}

.icon {
  zoom: .9;
}

body h2 {
  font-size: 1.3rem;
  color: var(--vt-c-text-light-1);
  text-transform: uppercase;
}
body h3 {
  font-size: 1rem;
  color: var(--vt-c-text-light-1);
  text-transform: uppercase;
}
body h5 {
  font-size: .7rem;
  color: var(--vt-c-text-light-1);
  text-transform: uppercase;
}
body span {
  font-size: .8rem;
  color: var(--vt-c-text-light-2);
  text-transform: uppercase;
}

body a {
  text-decoration: none;
  color: var(--vt-c-text-light-3);
  transition: all .4s linear;
}

body code {
  border-left: 3px solid;
  padding-left: 10px;
  color: var(--vt-c-text-light-3);
}

body input {
  background: var(--vt-c-white-soft);
  color: var(--vt-c-text-light-3);
  border: transparent;
}

body input::placeholder {
  color: var(--vt-c-text-light-3);
}

.dark-mode body {
  background-color: var(--vt-c-black-soft);
  color: var(--vt-c-text-dark-1);
}

.dark-mode body input {
  background: var(--vt-c-black-soft);
  color: var(--vt-c-text-dark-3);
  border: transparent;
}

.dark-mode body input::placeholder {
  color: var(--vt-c-text-dark-1);
}

.dark-mode code {
  border-left: 3px solid;
  margin: 0 0 10px 0px;
  padding-left: 10px;
  color: var(--vt-c-text-dark-3);
}

.dark-mode body p {
  font-size: 1rem;
  color: var(--vt-c-text-dark-1);
}

.dark-mode body h5 {
  font-size: 1rem;
  color: var(--vt-c-text-dark-2);
}


.dark-mode body h3 {
  font-size: 1rem;
  color: var(--vt-c-text-dark-0);
  text-transform: uppercase;
}

.dark-mode body a {
  text-decoration: none;
  color: var(--vt-c-text-dark-1);
  transition: all .4s linear;
}

.sepia-mode body {
  background-color: #f1e7d0;
  color: #433422;
}
