@import './base.css';

* {
  font-family: "Ubuntu";
}

#app {
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
}

code {
  border-left: 3px solid;
  margin: 0 0 10px 0px;
  padding-left: 10px;
}

.content-title-img {
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  line-height: 1.2;
}

.content-main {
  margin: 10px 5px 50px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  font-size: 1.1rem;
}

.content-main p {
  margin-bottom: 15px;
  text-indent: 20px;
}

.content-detail {
  margin: 10px 10px 50px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: nowrap;
  font-size: 1.1rem;

}

.content-details {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: nowrap;
}


table {
  border-collapse: collapse;
  border: .1px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-size: 0.8rem;
  margin: 10px 40px;

}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
}

th {
  background-color: #fadb4120;
}

td {
  text-align: center;
}


caption {
  padding: 10px;
}


.anima {
  animation-direction: top;
  animation: opacityAnimation 1s;
}

@keyframes opacityAnimation {
  0% {
    opacity: .2;
  }

  100% {
    opacity: 1;
  }
}

.top {
  animation-direction: top;
  animation: transformAnimation .5s;
}

.topHome {
  animation-direction: top;
  animation: transformAnimationHome .5s;
}

@keyframes transformAnimation {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes transformAnimationHome {
  0% {
    transform: translateY(55%);
  }

  100% {
    transform: translateY(0);
  }
}